<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>募集名</th>
      <th>適正レベル</th>
      <th>開始時間</th>
      <th>予定プレイ時間</th>
      <th>募集主</th>
      <th></th>
    </tr>
  </thead>
  <% @recruitments.each do |recruitment| %>
    <tbody>
      <tr>
        <td><%= recruitment.title  %></td>
        <td><%= recruitment.appropriate_level %></td>
        <td><%= l recruitment.start_time, format: :short %></td>
        <td><%= recruitment.play_time %></td>
        <td><%= recruitment.master_name %></td>
        <td><%= link_to "詳細", recruitment_path(recruitment), class: "btn btn-outline-dark" %></td>
      </tr>
    </tbody>
  <% end %>
</table>