<table class="table">
  <thead>
    <tr>
      <th><%= Recruitment.human_attribute_name("title") %></th>
      <th><%= Recruitment.human_attribute_name("appropriate_level") %></th>
      <th><%= Recruitment.human_attribute_name("start_time") %></th>
      <th><%= Recruitment.human_attribute_name("play_time") %></th>
      <th><%= Recruitment.human_attribute_name("game_master") %></th>
      <th></th>
    </tr>
  </thead>
  <% @recruitments.each do |recruitment| %>
    <tbody>
      <tr>
        <td><%= recruitment.title  %></td>
        <td><%= recruitment.appropriate_level %>レベル</td>
        <td><%= l recruitment.start_time, format: :short %></td>
        <td><%= recruitment.play_time %>時間</td>
        <td><%= recruitment.master_name %></td>
        <td><%= link_to "詳細", recruitment_path(recruitment), class: "btn btn-outline-dark" %></td>
      </tr>
    </tbody>
  <% end %>
</table>