<div class="container">

  <div class="d-flex justify-content-end">
    <%= search_form_for @q do |form| %>
      <div class="form-group form-inline">
        <div>
          <%= form.search_field :title_cont, class: "form-control" %>
          <%#= form.search_field :master_name_cont, class: "form-control" %>
          <%= form.submit class: "btn btn-outline-dark from-control" %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="d-flex justify-content-end">
    <%= link_to "セッションの作成", new_recruitment_path, remote: true, class: "btn btn-outline-dark mb-3" %>
  </div>

  <div id="recruitment-modal" class="modal fade"></div>
  <div id="comments_area">
    <%= render "rec", recruitments: @recruitments %>
  </div>

  <div class="explanation">
    
  </div>

  <div class="mb-3">
    <%= paginate @recruitments %>
  </div>
</div>



