<div class="container">
  <div id="recruitment-modal" class="modal fade"></div>
  <div id="subscription-modal" class="modal fade"></div>

  <% if game_master? %>
    <div class="d-flex justify-content-end">
      <%= link_to '編集', edit_recruitment_path, remote: true, class: "btn btn-outline-dark" %>
      <%= link_to '削除', recruitment_path, method: :delete, data: { confirm: "本当に削除しますか？", cancel: "やめる", commit: "削除" }, title: "削除の確認", class: "btn btn-outline-danger ml-1" %>
      
    </div>
    <div class="d-flex justify-content-end">
      <%= link_to "play roomの作成", new_play_room_path %>
    </div>
  <% else %>
    <% if current_user.id.in?(@recruitment.participant_managements.pluck(:user_id)) || current_user.name.in?(@recruitment.users.pluck(:name)) %>
    <% else %>
      <div class="d-flex justify-content-end">
        <%= link_to "応募する", new_recruitment_participant_management_path(@recruitment), remote: true, class: "btn btn-outline-dark" %>
      </div>
    <% end %>
  <% end %>
  <div id="show-area">
    <%= render "show", recruitment: @recruitment, recruitments: @recruitments %>
  </div>
</div>