<h1>募集詳細画面</h1>

<% if game_master? %>
  <div class="d-flex justify-content-end">
    <%= link_to '編集', edit_recruitment_path, class: "btn btn-primary" %>
    <%= link_to '削除', recruitment_path, method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
  </div>
<% else %>
  <div class="d-flex justify-content-end">
    <%= link_to "応募する", comment_new_recruitments_path(@recruitment), class: "btn btn-primary" %>
  </div>
<% end %>


<table class="table">
  <tr>
    <th>募集内容</th>
    <td><%= @recruitment.content %></td>
  </tr>
  <tr>
    <th>適正レベル</th>
    <td><%= @recruitment.appropriate_level %></td>
  </tr>
  <tr>
    <th>開始時間</th>
    <td><%= @recruitment.start_time %></td>
  </tr>
  <tr>
    <th>予定プレイ時間</th>
    <td><%= @recruitment.play_time %></td>
  </tr>
  <tr>
    <th>募集主 </th>
    <td><%= @recruitment.master_name %></td>
  </tr>
</table>

<table class="table">
  <tr>
    <th>ユーザー名</th>
    <th>コメント</th>
  </tr>
  <% @recruitments.each do |subscription| %>
    <tr>
      <td><%= subscription.users.pluck(:name)[0] %></td>
      <td><%= subscription.participant_managements.pluck(:comment)[0] %></td>
    </tr>
  <% end %>