<h1>募集詳細画面</h1>

<% if game_master? %>
  <div class="d-flex justify-content-end">
    <%= link_to '編集', edit_recruitment_path, class: "btn btn-primary" %>
    <%= link_to '削除', recruitment_path, method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
  </div>
<% else %>
  <div class="d-flex justify-content-end">
    <%= link_to "応募する", new_recruitment_subscription_path(@recruitment), class: "btn btn-primary" %>
  </div>
<% end %>


<table class="table">
  <tr>
    <th>募集内容</th>
    <td><%= @recruitment.content %></td>
  </tr>
  <tr>
    <th>適正レベル</th>
    <td><%= @recruitment.appropriate_level %></td>
  </tr>
  <tr>
    <th>開始時間</th>
    <td><%= @recruitment.start_time %></td>
  </tr>
  <tr>
    <th>予定プレイ時間</th>
    <td><%= @recruitment.play_time %></td>
  </tr>
  <tr>
    <th>募集主 </th>
    <td><%= @recruitment.master_name %></td>
  </tr>
</table>

<table class="table">
  <tr>
    <th>ユーザー名</th>
    <th>コメント</th>
    <th></th>
  </tr>
  <% @recruitments.each do |recruitment| %>
    <tr>
    <% if (params[:id]).to_i == recruitment.participant_managements.first.recruitment_id %>
        <td><%= recruitment.users.first.name %></td>
        <td><%= recruitment.participant_managements.last.comment %></td>
        <td><%= link_to "編集", edit_recruitment_subscription_path(recruitment.participant_managements, id: recruitment.participant_managements.last.user_id) %></td>
      <% end %>
    </tr>
  <% end %>