<div class="container">
  <div class="d-flex justify-content-between align-items-center">
    <h1>マイアカウント</h1>

    <%= link_to "アカウントの変更", edit_user_registration_path(current_user), class: "btn btn-outline-dark" %>
  </div>
  <div class="d-flex justify-content-end">
    <%#= binding.pry %>
    <% if @user.characters.last&.user_id %>
      <%= link_to "キャラクター情報の詳細", character_path(id: @user.characters.last.id), class: "btn btn-outline-dark mb-3" %>
    <% else %>
      <%= link_to "キャラクターの新規作成", new_character_path, class: "btn btn-outline-dark mb-3" %>
    <% end %>
  </div>


  <table class="table table-hover">
    <tr>
      <th>プレイヤー名</th>
      <th><%= @user.name %></th>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <th><%= @user.email %></th>
    </tr>
    <tr>
      <th>プロフィール画像</th>
      <th><%= image_tag @user.icon_url(:thumb) %></th>
    </tr>
  </table>
  <div class="border p-4 rounded">
    <h3>募集に応募しているプレイヤー</h2>
    <table class="table table-hover">
      <% @recruitments.each do |recruitment| %>
        <% if recruitment.master_name == current_user.name%>
          <% recruitment.participant_managements.each do |pm|%>
            <% if recruitment.id == pm.application %>
              <tr class="table-active">
                <th>ユーザー名</th>
                <th>コメント</th>
              </tr>
              <tr>
                <td> <%= pm.user.name %></td>
                <td><%= pm.comment %></td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </table>
  </div>

  <div class="border p-4 rounded mt-3">
    <h3>応募したイベント</h2>
    <table class="table table-hover">
      <tr class="table-active">
        <th>イベント名</th>
        <th>イベント内容</th>
        <th>マスター名</th>
      </tr>
      <% @recruitments.each do |recruitment| %>
        <% recruitment.participant_managements.each do |pm| %>
          <% if current_user.id == pm.user_id %>
            <tr>
              <td><%= recruitment.title %></td>
              <td><%= recruitment.content %></td>
              <td><%= recruitment.master_name %></td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </table>
  </div>
  <%= link_to "戻る", :back, class: "btn btn-outline-dark mt-3" %>
</div>


