<div class="container">

<div>
  <div>
    <h1>「Table Talking」とは</h1>
    <%= image_tag "head011.png", class: "line" %>
    
    <p class="p1">このサイト(Table Talking)は、本来ゲームマスター及びプレイヤーが同じ場所に集まって行うテーブルトークRPGを、オンライン上で行うことができるよう「ゲームマスターとプレイヤーのマッチング」、「プレイヤーが操るキャラクターの作成」</>、「ゲームマスターとプレイヤーが同時に遊べる部屋（現在は未実装）」などのオンラインセッションを提供しています。<br>
    <span class="annotation">※オンラインセッションとは・・・ボイスチャット等を使い、オンラインでテーブルトークRPGを行うという遊び方</span></p>
    
  </div>
  </div>
  <div class="d-flex justify-content-around">
    <%= image_tag "dice", class: "dice" %>
    <%= image_tag "pen", class: "pen" %>
    <%= image_tag "character_sheet", class: "character_sheet" %>
  </div>

  <div class="mt-5">
    <div>
      <h3>テーブルトークRPG(TRPG)とは</h3>
      <%= image_tag "head011.png", class: "line" %>
    </div>
    <p class="p2">サイコロ、鉛筆、紙をつかって、ルールブックにもとづき、ゲームマスター（司会進行役）とプレイヤー（自分のキャラクターを演じる役）が、ゲームマスターが用意したシナリオをもとに談話形式でロールプレイングゲームを行うものです。</p>
  </div>

  <%= image_tag "trpg_people", class: "trpg_people" %>

  <div class="d-flex justify-content-center">
    <%= link_to "新規登録", new_user_registration_path, class: "btn btn-info rounded-0 w-25 btn-lg" %>
    <%= link_to 'ログイン', new_user_session_path, class: "log_in ml-3 btn btn-info rounded-0 w-25 btn-lg"%>
  </div>

</div>