<h3 class="mt-3">基本情報</h3>
  <div class="row mt-3">
    <div class="form-group col-sm-6">
      <%= form.label :name %><span class="badge badge-danger ml-1">必須</span>
      <%= form.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= form.label :race %>
    <%= form.select :race, options_for_select_from_enum(Character, :race), class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :job %>
    <%= form.select :job, options_for_select_from_enum(Character, :job), class: "form-control" %>
  </div>
  <div class="form-row">
    <div class="form-group col-md-3">
      <%= form.label :level %>
      <%= form.number_field :level, min:1, class: "form-control" %>
    </div>
    <div class="form-group col-md-3">
      <%= form.label :experience %>
      <%= form.number_field :experience, min:0, class: "form-control" %>
    </div>
  </div>

  <h3>パラメータ</h3>
  <div class="form-row">
    <div class="form-group col-md-3">
      <%= form.label :strength %><span class="badge badge-danger ml-1">必須</span>
      <%= form.number_field :strength, min:1, class: "form-control" %>
    </div>
    <div class="form-group col-md-3">
      <%= form.label :intelligence %><span class="badge badge-danger ml-1">必須</span>
      <%= form.number_field :intelligence, min:1, class: "form-control" %>
    </div>
    <div class="form-group col-md-3">
      <%= form.label :agility %><span class="badge badge-danger ml-1">必須</span>
      <%= form.number_field :agility, min:1, class: "form-control" %>
    </div>
  </div>
<h3>備品等</h3>
  <div class="form-row">
    <div class="form-group col-md-3">
        <%= form.label :money %>
        <%= form.number_field :money, min:0, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
      <%= form.label :stock %>
      <%= form.text_area :stock, class: "form-control", rows: "5" %>
  </div>
