<div class="container">
  <h1>キャラクターの作成</h1>
  <div class="annotation border rounded d-flex align-items-center p-2">
    作成されたキャラクターはプレイルームにて使用できます。なお、プレイルームは現在未実装です。
  </div>

  <%= render "shared/errors", obj: @character %>

  <%= form_with(model: @character, local: true) do |form| %>
    <%= render "form", form: form %>
    <%= form.submit class: "btn btn-outline-dark" %>
    <%= link_to "　戻る　", user_path(current_user), class: "btn btn-outline-dark" %>
  <% end %>
  
</div>