<table class="table mt-3">
  <tr>
    <th>ユーザー名</th>
    <th>コメント</th>
    <th></th>
    <th></th>
  </tr>
  <% recruitments.each do |recruitment| %>
    <% if action_name == "create" || action_name == "update" %>
      <% x = subscription.recruitment_id %>
    <% else %>
      <% x = params[:id] %>
    <% end %>
    <% if (x).to_i == (recruitment.participant_managements.first&.recruitment_id) %>
      <% pm = recruitment.participant_managements.last %>
        <tr>
          <td><%= pm.user.name %></td>
          <td><%= pm.comment %></td>
          <% if current_user.id == pm.user_id%>
            <td><%= link_to "編集", edit_recruitment_participant_management_path(recruitment, pm), remote: true, class: "btn btn-outline-dark" %></td>
            <td><%= link_to "応募の取消", recruitment_participant_management_path(recruitment, pm), method: :delete, class: "btn btn-outline-danger" %></td>
          <% end %>
          <% if game_master? %>
            <% if pm.acceptance == false %>
              <td><%= link_to "承認", accept_recruitment_participant_management_path(recruitment, pm), method: :patch, class: "btn btn-outline-dark" %></td>
            <% else %>
              <td><%= link_to "承認取消", reject_recruitment_participant_management_path(recruitment, pm), method: :patch, class: "btn btn-outline-danger" %></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
  <% end %>
</table>
