<h1 id="room" data-room-id="<%= @play_room.id %>" data-user_id="<%= current_user.id %>%">chat_room</h1>

<div id="message-container">
  <%= render @chats %>
</div>

<%= form_with model: [@play_room, @chat] do |f| %>
  <div class="form-group">
    <%= f.text_area :content, class: "form-control", row: "1", maxlength: "500" %>
  </div>
  <div class="form-group">
    <%= f.submit "é€ä¿¡", class: "btn btn-primary btn-block", id: "message-button" %>
  </div>
<% end %>